{
  "orders": {
    "items": [
      {
        "id": 1,
        "number": "0000-0001",
        "date": 1669908800,
        "pickUpTime": "2022-12-01T15:00:00.000Z",
        "storeId": 1,
        "status": "assembled",
        "sum": "1000.00",
        "deliveryPoint": {
          "id": 1,
          "address": "test address",
          "state": "test state"
        },
        "pinCode": "1234",
        "cells": [
          "test cell"
        ],
        "items": [
          {
            "productId": 1,
            "title": "test item",
            "price": "100.00",
            "quantity": 1,
            "photo": "test photo",
            "description": "test description"
          }
        ]
      },
      {
        "id": 2,
        "number": "0000-0002",
        "date": 1669908800,
        "pickUpTime": "2022-12-01T15:00:00.000Z",
        "storeId": 1,
        "status": "assembled",
        "sum": "1000.00",
        "deliveryPoint": {
          "id": 1,
          "address": "test address",
          "state": "test state"
        },
        "pinCode": "1234",
        "cells": [
          "test cell"
        ],
        "items": [
          {
            "productId": 2,
            "title": "test item 2",
            "price": "100.00",
            "quantity": 1,
            "photo": "test photo",
            "description": "test description"
          }
        ]
      },
      {
        "id": 3,
        "number": "0000-0003",
        "date": 1669908800,
        "pickUpTime": "2022-12-01T15:00:00.000Z",
        "storeId": 2,
        "status": "assembled",
        "sum": "1000.00",
        "deliveryPoint": {
          "id": 2,
          "address": "test address 2",
          "state": "test state 2"
        },
        "pinCode": "1234",
        "cells": [
          "test cell"
        ],
        "items": [
          {
            "productId": 3,
            "title": "test item 3",
            "price": "100.00",
            "quantity": 1,
            "photo": "test photo",
            "description": "test description"
          }
        ]
      },
      {
        "id": 4,
        "number": "0000-0004",
        "date": 1669908800,
        "pickUpTime": "2022-12-01T15:00:00.000Z",
        "storeId": 3,
        "status": "assembled",
        "sum": "1000.00",
        "deliveryPoint": {
          "id": 3,
          "address": "test address 3",
          "state": "test state 3"
        },
        "pinCode": "1234",
        "cells": [
          "test cell"
        ],
        "items": [
          {
            "productId": 4,
            "title": "test item 4",
            "price": "100.00",
            "quantity": 1,
            "photo": "test photo",
            "description": "test description"
          }
        ]
      }
    ]
  }
}
